#main {
	display: flex;
	flex-wrap: wrap;
	border: 1px solid black;
	border-bottom: 20px solid black;
}
div.p1 {
	width: 100px;
	height: 100px;
	position: relative;
	background: hsl(120,100%, 50%);
	-webkit-animation: move1 5s infinite;
	-webkit-animation-iteration-count: 2;
	-webkit-animation-direction: alternate;

}
div.p2 {
	width: 100px;
	height: 100px;
	background: hsl(220,70%, 70%);
	position: relative;
	clear: both;
	-webkit-animation: move1 4s infinite;
	-webkit-animation-iteration-count: 2;
	-webkit-animation-direction: alternate;

}
div.p3 {
	width: 100px;
	height: 100px;
	background: lightgreen;
	position: relative;
	-webkit-animation: move2 3s infinite;
	-webkit-animation-iteration-count: 2;
	-webkit-animation-direction: alternate;

}
div.p4 {
	width: 100px;
	height: 100px;
	background: yellow;
	position: relative;
	-webkit-animation: move2 2s infinite;
    -webkit-animation-iteration-count: 2;
    -webkit-animation-direction: alternate;
}

@-webkit-keyframes move1
{
from {top:0px;}
to {top:200px;}
}

@-webkit-keyframes move2
{
from {top:0px;}
to {top:200px;}
}

/*@-webkit-keyframes move2 
{
0% {top:0px;}
25%{top:100px;}
50%{top:200px;}
75%{top:100px;}
100%{top:0px;}
}*/